<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ hello }}</h1>
      <h2>{{ title }}</h2>
      <h3>Description</h3>
      <p>{{ desctiption }}</p>

      <div @mouseover="handleMouseOver">Hover over me</div>
      <div @dblclick="handleDoubleClick">Double click me</div>
      <div @mousemove="handleMouseMove">Move mouse over me</div>
      <a :href="link">Click me</a>


      
      <div v-for="(item, index) in books" :key="index">
        <div v-if="index%2 == 0">
            <p>{{item.title}}</p>
            <img :src="'assets/images/' + item.image">
        </div>
      </div>

    </div>
    <script src="app.js"></script>
  </body>
</html>

